<?xml version='1.0' encoding='utf-8'?>
<robot name="dual_arm_arx_x5_dualarm">
  <link name="base_link" />
  <link name="left_base_link" />
  <link name="left_link1" />
  <link name="left_link2" />
  <link name="left_link3" />
  <link name="left_link4" />
  <link name="left_link5" />
  <link name="left_link6" />
  <link name="left_camera_base" />
  <link name="left_camera" />
  <link name="left_link7" />
  <link name="left_link8" />
  <joint name="base_link_to_left_base_link" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="left_base_link" />
  </joint>
  <joint name="left_joint1" type="revolute">
    <origin xyz="0 0 0.0605" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-10" upper="10" effort="100" velocity="1000" />
    <parent link="left_base_link" />
    <child link="left_link1" />
  </joint>
  <joint name="left_joint2" type="revolute">
    <origin xyz="0.02 0 0.04" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-10" upper="10" effort="100" velocity="1000" />
    <parent link="left_link1" />
    <child link="left_link2" />
  </joint>
  <joint name="left_joint3" type="revolute">
    <origin xyz="-0.264 0 0" rpy="3.1416 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-10" upper="10" effort="100" velocity="1000" />
    <parent link="left_link2" />
    <child link="left_link3" />
  </joint>
  <joint name="left_joint4" type="revolute">
    <origin xyz="0.245 0 -0.056" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-10" upper="10" effort="100" velocity="1000" />
    <parent link="left_link3" />
    <child link="left_link4" />
  </joint>
  <joint name="left_joint5" type="revolute">
    <origin xyz="0.06775 0.0005 -0.0865" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-10" upper="10" effort="100" velocity="1000" />
    <parent link="left_link4" />
    <child link="left_link5" />
  </joint>
  <joint name="left_joint6" type="revolute">
    <origin xyz="0.02895 0 0.0865" rpy="-3.1416 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="1000" />
    <parent link="left_link5" />
    <child link="left_link6" />
  </joint>
  <joint name="left_hand_to_camera_mount" type="fixed">
    <origin xyz="0.057 0 0" rpy="0 0 -3.1416" />
    <parent link="left_link6" />
    <child link="left_camera_base" />
  </joint>
  <joint name="left_camera_joint" type="fixed">
    <origin xyz="-0.0275 0.0 0.05" rpy="0 0.3491 3.141592653589793" />
    <parent link="left_camera_base" />
    <child link="left_camera" />
  </joint>
  <joint name="left_joint7" type="prismatic">
    <origin xyz="0.08657 0.024896 -0.0002436" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="0.044" effort="100" velocity="1000" />
    <parent link="left_link6" />
    <child link="left_link7" />
  </joint>
  <joint name="left_joint8" type="prismatic">
    <origin xyz="0.08657 -0.0249 -0.00024366" rpy="0 0 0" />
    <axis xyz="0 -1 0" />
    <limit lower="0" upper="0.044" effort="100" velocity="1000" />
    <parent link="left_link6" />
    <child link="left_link8" />
  </joint>
  <link name="right_base_link" />
  <link name="right_link1" />
  <link name="right_link2" />
  <link name="right_link3" />
  <link name="right_link4" />
  <link name="right_link5" />
  <link name="right_link6" />
  <link name="right_camera_base" />
  <link name="right_camera" />
  <link name="right_link7" />
  <link name="right_link8" />
  <joint name="base_link_to_right_base_link" type="fixed">
    <origin xyz="0 -0.6 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="right_base_link" />
  </joint>
  <joint name="right_joint1" type="revolute">
    <origin xyz="0 0 0.0605" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-10" upper="10" effort="100" velocity="1000" />
    <parent link="right_base_link" />
    <child link="right_link1" />
  </joint>
  <joint name="right_joint2" type="revolute">
    <origin xyz="0.02 0 0.04" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-10" upper="10" effort="100" velocity="1000" />
    <parent link="right_link1" />
    <child link="right_link2" />
  </joint>
  <joint name="right_joint3" type="revolute">
    <origin xyz="-0.264 0 0" rpy="3.1416 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-10" upper="10" effort="100" velocity="1000" />
    <parent link="right_link2" />
    <child link="right_link3" />
  </joint>
  <joint name="right_joint4" type="revolute">
    <origin xyz="0.245 0 -0.056" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-10" upper="10" effort="100" velocity="1000" />
    <parent link="right_link3" />
    <child link="right_link4" />
  </joint>
  <joint name="right_joint5" type="revolute">
    <origin xyz="0.06775 0.0005 -0.0865" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-10" upper="10" effort="100" velocity="1000" />
    <parent link="right_link4" />
    <child link="right_link5" />
  </joint>
  <joint name="right_joint6" type="revolute">
    <origin xyz="0.02895 0 0.0865" rpy="-3.1416 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="1000" />
    <parent link="right_link5" />
    <child link="right_link6" />
  </joint>
  <joint name="right_hand_to_camera_mount" type="fixed">
    <origin xyz="0.057 0 0" rpy="0 0 -3.1416" />
    <parent link="right_link6" />
    <child link="right_camera_base" />
  </joint>
  <joint name="right_camera_joint" type="fixed">
    <origin xyz="-0.0275 0.0 0.05" rpy="0 0.3491 3.141592653589793" />
    <parent link="right_camera_base" />
    <child link="right_camera" />
  </joint>
  <joint name="right_joint7" type="prismatic">
    <origin xyz="0.08657 0.024896 -0.0002436" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="0.044" effort="100" velocity="1000" />
    <parent link="right_link6" />
    <child link="right_link7" />
  </joint>
  <joint name="right_joint8" type="prismatic">
    <origin xyz="0.08657 -0.0249 -0.00024366" rpy="0 0 0" />
    <axis xyz="0 -1 0" />
    <limit lower="0" upper="0.044" effort="100" velocity="1000" />
    <parent link="right_link6" />
    <child link="right_link8" />
  </joint>
</robot>